<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7dca1570f41a4165f3054998b4d482d0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7dca1570f41a4165f3054998b4d482d0" ></div>
        
</body>
<script>
    
    
            var map_7dca1570f41a4165f3054998b4d482d0 = L.map(
                "map_7dca1570f41a4165f3054998b4d482d0",
                {
                    center: [-34.9964963, -64.9672817],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 3,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_4623cc46e6e78045ca917e13d827f640 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_4623cc46e6e78045ca917e13d827f640.addTo(map_7dca1570f41a4165f3054998b4d482d0);
        
    
            var marker_3277703ecf5cab3be66281fae2fceab5 = L.marker(
                [-34.9964963, -64.9672817],
                {
}
            ).addTo(map_7dca1570f41a4165f3054998b4d482d0);
        
    
            var icon_32ec3e57f65f2b65f5c6619e1440b40f = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "pushpin",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_3277703ecf5cab3be66281fae2fceab5.setIcon(icon_32ec3e57f65f2b65f5c6619e1440b40f);
        
    
        var popup_d27d767ab05dba63d22a649d53b612f5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ef41d61b8303a253d878b6ff5b2b38ea = $(`<div id="html_ef41d61b8303a253d878b6ff5b2b38ea" style="width: 100.0%; height: 100.0%;"><h1>[{'group': 'Peronist Armed Forces (FAP)', 'attacks_count': 7}, {'group': 'Unknown', 'attacks_count': 5}, {'group': 'Ejercito Revolucionaria del Pueblo (ERP) (Argentina)', 'attacks_count': 4}, {'group': 'Montoneros (Argentina)', 'attacks_count': 4}, {'group': 'Revolutionary Armed Forces- Argentina (FAR-A)', 'attacks_count': 4}, {'group': 'Argentine Liberation Front (FAL)', 'attacks_count': 3}, {'group': 'Argentine National Organization Movement (MANO)', 'attacks_count': 1}]<h1></div>`)[0];
                popup_d27d767ab05dba63d22a649d53b612f5.setContent(html_ef41d61b8303a253d878b6ff5b2b38ea);
            
        

        marker_3277703ecf5cab3be66281fae2fceab5.bindPopup(popup_d27d767ab05dba63d22a649d53b612f5)
        ;

        
    
    
            marker_3277703ecf5cab3be66281fae2fceab5.bindTooltip(
                `<div>
                     Argentina
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>