<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_43845146508d1a91a3cd6d854c2a8c7b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_43845146508d1a91a3cd6d854c2a8c7b" ></div>
        
</body>
<script>
    
    
            var map_43845146508d1a91a3cd6d854c2a8c7b = L.map(
                "map_43845146508d1a91a3cd6d854c2a8c7b",
                {
                    center: [39.7837304, -100.445882],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 3,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_940d2baf2f2c3d12b09922b2f6c9aa9f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_940d2baf2f2c3d12b09922b2f6c9aa9f.addTo(map_43845146508d1a91a3cd6d854c2a8c7b);
        
    
            var marker_13061b7cab3c1dac51b5c5466aded7e0 = L.marker(
                [39.7837304, -100.445882],
                {
}
            ).addTo(map_43845146508d1a91a3cd6d854c2a8c7b);
        
    
            var icon_dd684abd637964baca4ff38e3898f69c = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "pushpin",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
            marker_13061b7cab3c1dac51b5c5466aded7e0.setIcon(icon_dd684abd637964baca4ff38e3898f69c);
        
    
        var popup_a5ae96eb0a714e317d1facfb67679531 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_07e446e4ff1613bcacb3a7cc7953a78d = $(`<div id="html_07e446e4ff1613bcacb3a7cc7953a78d" style="width: 100.0%; height: 100.0%;"><h1>average damage: 0.432<h1></div>`)[0];
                popup_a5ae96eb0a714e317d1facfb67679531.setContent(html_07e446e4ff1613bcacb3a7cc7953a78d);
            
        

        marker_13061b7cab3c1dac51b5c5466aded7e0.bindPopup(popup_a5ae96eb0a714e317d1facfb67679531)
        ;

        
    
    
            marker_13061b7cab3c1dac51b5c5466aded7e0.bindTooltip(
                `<div>
                     United States
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>