<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1c3750266bb302449bd076e9912ede3e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1c3750266bb302449bd076e9912ede3e" ></div>
        
</body>
<script>
    
    
            var map_1c3750266bb302449bd076e9912ede3e = L.map(
                "map_1c3750266bb302449bd076e9912ede3e",
                {
                    center: [-10.3333333, -53.2],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 3,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f8efe8f210d51b7fa3e23d000c54f768 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f8efe8f210d51b7fa3e23d000c54f768.addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
            var marker_bbfcc4f0db55862bc6ef67fcd59c777e = L.marker(
                [-10.3333333, -53.2],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_eadd598294416b3d6179d89b22a6dcb5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_595249969a10b72efcac500abc851e95 = $(`<div id="html_595249969a10b72efcac500abc851e95" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_eadd598294416b3d6179d89b22a6dcb5.setContent(html_595249969a10b72efcac500abc851e95);
            
        

        marker_bbfcc4f0db55862bc6ef67fcd59c777e.bindPopup(popup_eadd598294416b3d6179d89b22a6dcb5)
        ;

        
    
    
            marker_bbfcc4f0db55862bc6ef67fcd59c777e.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0d26572944529480d89981c0cd8c95cb = L.marker(
                [30.3308401, 71.247499],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_6485a0debfc41b9946fb99afaf152a34 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f085370be7f26ac44169c28add877911 = $(`<div id="html_f085370be7f26ac44169c28add877911" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_6485a0debfc41b9946fb99afaf152a34.setContent(html_f085370be7f26ac44169c28add877911);
            
        

        marker_0d26572944529480d89981c0cd8c95cb.bindPopup(popup_6485a0debfc41b9946fb99afaf152a34)
        ;

        
    
    
            marker_0d26572944529480d89981c0cd8c95cb.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c3c8b4ed2849d1875d3800fb4715c636 = L.marker(
                [54.7023545, -3.2765753],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_22cd269f497134e50b1ed0b1d411d7c2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b821c1cda26769524072f32d0194d9f1 = $(`<div id="html_b821c1cda26769524072f32d0194d9f1" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_22cd269f497134e50b1ed0b1d411d7c2.setContent(html_b821c1cda26769524072f32d0194d9f1);
            
        

        marker_c3c8b4ed2849d1875d3800fb4715c636.bindPopup(popup_22cd269f497134e50b1ed0b1d411d7c2)
        ;

        
    
    
            marker_c3c8b4ed2849d1875d3800fb4715c636.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_8f9e9b5e4081bc88c6757a143dbc305a = L.marker(
                [4.099917, -72.9088133],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_64d30a360240e662ac4722fa32fd9fd1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_48b8823de47585ce72b6b4a5f5d23479 = $(`<div id="html_48b8823de47585ce72b6b4a5f5d23479" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_64d30a360240e662ac4722fa32fd9fd1.setContent(html_48b8823de47585ce72b6b4a5f5d23479);
            
        

        marker_8f9e9b5e4081bc88c6757a143dbc305a.bindPopup(popup_64d30a360240e662ac4722fa32fd9fd1)
        ;

        
    
    
            marker_8f9e9b5e4081bc88c6757a143dbc305a.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b20d55cf18f1f946373467014197ee86 = L.marker(
                [10.2735633, -84.0739102],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_f5f6b7ea453491610a0cd959a106efad = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_97bd10f2687574303f87cc7630333d23 = $(`<div id="html_97bd10f2687574303f87cc7630333d23" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_f5f6b7ea453491610a0cd959a106efad.setContent(html_97bd10f2687574303f87cc7630333d23);
            
        

        marker_b20d55cf18f1f946373467014197ee86.bindPopup(popup_f5f6b7ea453491610a0cd959a106efad)
        ;

        
    
    
            marker_b20d55cf18f1f946373467014197ee86.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_441eb8e208957b09859dd06e8f83832f = L.marker(
                [39.7837304, -100.445882],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_1a18d1e96695f492064842b9ea04b63d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ed5f615b024af8f4f0bfa9ad93e1bd01 = $(`<div id="html_ed5f615b024af8f4f0bfa9ad93e1bd01" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_1a18d1e96695f492064842b9ea04b63d.setContent(html_ed5f615b024af8f4f0bfa9ad93e1bd01);
            
        

        marker_441eb8e208957b09859dd06e8f83832f.bindPopup(popup_1a18d1e96695f492064842b9ea04b63d)
        ;

        
    
    
            marker_441eb8e208957b09859dd06e8f83832f.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c6471858c535599f20a578ed0e09342d = L.marker(
                [31.1667049, 36.941628],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_6f897a2cfa9e1b29e3874379f42c856f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3172ea74adfeace62238817caca86cff = $(`<div id="html_3172ea74adfeace62238817caca86cff" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_6f897a2cfa9e1b29e3874379f42c856f.setContent(html_3172ea74adfeace62238817caca86cff);
            
        

        marker_c6471858c535599f20a578ed0e09342d.bindPopup(popup_6f897a2cfa9e1b29e3874379f42c856f)
        ;

        
    
    
            marker_c6471858c535599f20a578ed0e09342d.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_5cb127ab88a0949d3fa75828daec5c4d = L.marker(
                [36.5748441, 139.2394179],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_d7196810ee87aca13176ed096a691590 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_28eff40f249dd4b8c48a70b0ab81085d = $(`<div id="html_28eff40f249dd4b8c48a70b0ab81085d" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_d7196810ee87aca13176ed096a691590.setContent(html_28eff40f249dd4b8c48a70b0ab81085d);
            
        

        marker_5cb127ab88a0949d3fa75828daec5c4d.bindPopup(popup_d7196810ee87aca13176ed096a691590)
        ;

        
    
    
            marker_5cb127ab88a0949d3fa75828daec5c4d.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7e25579868c1b79dad1a7ffb1b2f2687 = L.marker(
                [39.8125465, -85.1374644],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_557a02c5963210d3c43defaf0e83ae1d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9e91a316ea51a7ca6f7843e10e80fb92 = $(`<div id="html_9e91a316ea51a7ca6f7843e10e80fb92" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_557a02c5963210d3c43defaf0e83ae1d.setContent(html_9e91a316ea51a7ca6f7843e10e80fb92);
            
        

        marker_7e25579868c1b79dad1a7ffb1b2f2687.bindPopup(popup_557a02c5963210d3c43defaf0e83ae1d)
        ;

        
    
    
            marker_7e25579868c1b79dad1a7ffb1b2f2687.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_875c91f5f4b06e78c959b2014d1104d3 = L.marker(
                [26.2540493, 29.2675469],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_03651161555ec40960ee72fd83c7e732 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2ef945fe23c58c9f63b62082cbfdd3bd = $(`<div id="html_2ef945fe23c58c9f63b62082cbfdd3bd" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_03651161555ec40960ee72fd83c7e732.setContent(html_2ef945fe23c58c9f63b62082cbfdd3bd);
            
        

        marker_875c91f5f4b06e78c959b2014d1104d3.bindPopup(popup_03651161555ec40960ee72fd83c7e732)
        ;

        
    
    
            marker_875c91f5f4b06e78c959b2014d1104d3.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_3f88d848c41f0942c111a8eb7eacecec = L.marker(
                [8.0018709, -66.1109318],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_d94cd57516c11a09922edc0b5161b461 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b21341a426882f48f87ad0f055a85457 = $(`<div id="html_b21341a426882f48f87ad0f055a85457" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_d94cd57516c11a09922edc0b5161b461.setContent(html_b21341a426882f48f87ad0f055a85457);
            
        

        marker_3f88d848c41f0942c111a8eb7eacecec.bindPopup(popup_d94cd57516c11a09922edc0b5161b461)
        ;

        
    
    
            marker_3f88d848c41f0942c111a8eb7eacecec.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_f3f8c6d502aa1508432b1e0aae9f8f58 = L.marker(
                [39.3260685, -4.8379791],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_4c7bef9e1b29d1c6bf2442d5bf5f43a2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d819c0b975aa4451c6d5fc5355f31945 = $(`<div id="html_d819c0b975aa4451c6d5fc5355f31945" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_4c7bef9e1b29d1c6bf2442d5bf5f43a2.setContent(html_d819c0b975aa4451c6d5fc5355f31945);
            
        

        marker_f3f8c6d502aa1508432b1e0aae9f8f58.bindPopup(popup_4c7bef9e1b29d1c6bf2442d5bf5f43a2)
        ;

        
    
    
            marker_f3f8c6d502aa1508432b1e0aae9f8f58.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_15d362afef4d78b18f96df51802c6cf9 = L.marker(
                [-17.0568696, -64.9912286],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_2a355e58ebf7ff08a270be11125aab68 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a500bbfdc2b274f01cda9ab559f7a93f = $(`<div id="html_a500bbfdc2b274f01cda9ab559f7a93f" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_2a355e58ebf7ff08a270be11125aab68.setContent(html_a500bbfdc2b274f01cda9ab559f7a93f);
            
        

        marker_15d362afef4d78b18f96df51802c6cf9.bindPopup(popup_2a355e58ebf7ff08a270be11125aab68)
        ;

        
    
    
            marker_15d362afef4d78b18f96df51802c6cf9.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_74b18c6bd927f8c13d72ffd53f7627cb = L.marker(
                [12.5433216, 104.8144914],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_952130aee8ec194c2526f808e7508d24 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_521198d656607897b0129decb70d1709 = $(`<div id="html_521198d656607897b0129decb70d1709" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_952130aee8ec194c2526f808e7508d24.setContent(html_521198d656607897b0129decb70d1709);
            
        

        marker_74b18c6bd927f8c13d72ffd53f7627cb.bindPopup(popup_952130aee8ec194c2526f808e7508d24)
        ;

        
    
    
            marker_74b18c6bd927f8c13d72ffd53f7627cb.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_5ce3c59dcba06d7660506e3bebdd5ffc = L.marker(
                [23.6585116, -102.0077097],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_a29f011145f7d80b8b72a85d036dd0a9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f002f0c4382d344045f32928a5d25df = $(`<div id="html_3f002f0c4382d344045f32928a5d25df" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_a29f011145f7d80b8b72a85d036dd0a9.setContent(html_3f002f0c4382d344045f32928a5d25df);
            
        

        marker_5ce3c59dcba06d7660506e3bebdd5ffc.bindPopup(popup_a29f011145f7d80b8b72a85d036dd0a9)
        ;

        
    
    
            marker_5ce3c59dcba06d7660506e3bebdd5ffc.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7e88aa66a06a02e58a521e1054fe784e = L.marker(
                [41.498319, 13.752311],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_372b61224002aefb4407330f9137a227 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_43d868d335bbf922aeed554bfdcaf7d5 = $(`<div id="html_43d868d335bbf922aeed554bfdcaf7d5" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_372b61224002aefb4407330f9137a227.setContent(html_43d868d335bbf922aeed554bfdcaf7d5);
            
        

        marker_7e88aa66a06a02e58a521e1054fe784e.bindPopup(popup_372b61224002aefb4407330f9137a227)
        ;

        
    
    
            marker_7e88aa66a06a02e58a521e1054fe784e.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0cee73fc50a6de4a4a51d8bb2f2a5a99 = L.marker(
                [42.6384261, 12.674297],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_d2bb4fae9cc5d777b4c84c24c4397e7e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2d4e1049be1800ce57060223c22e2dd2 = $(`<div id="html_2d4e1049be1800ce57060223c22e2dd2" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_d2bb4fae9cc5d777b4c84c24c4397e7e.setContent(html_2d4e1049be1800ce57060223c22e2dd2);
            
        

        marker_0cee73fc50a6de4a4a51d8bb2f2a5a99.bindPopup(popup_d2bb4fae9cc5d777b4c84c24c4397e7e)
        ;

        
    
    
            marker_0cee73fc50a6de4a4a51d8bb2f2a5a99.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_e9d9b01ac221e9cf8ef0b68f0901cf11 = L.marker(
                [15.5855545, -90.345759],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_f29ee703654eff61248e2df1d67c020e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_86193cf5c4c62c7cf70fa7f5c4df82c9 = $(`<div id="html_86193cf5c4c62c7cf70fa7f5c4df82c9" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_f29ee703654eff61248e2df1d67c020e.setContent(html_86193cf5c4c62c7cf70fa7f5c4df82c9);
            
        

        marker_e9d9b01ac221e9cf8ef0b68f0901cf11.bindPopup(popup_f29ee703654eff61248e2df1d67c020e)
        ;

        
    
    
            marker_e9d9b01ac221e9cf8ef0b68f0901cf11.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_893ac6818a9e468e38750442ad23ca4a = L.marker(
                [-34.9964963, -64.9672817],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_9a17f657878eb0b5e60b2ef8a0e7fdd5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1aad46d05a922dbe2cc60bf0d44fb312 = $(`<div id="html_1aad46d05a922dbe2cc60bf0d44fb312" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_9a17f657878eb0b5e60b2ef8a0e7fdd5.setContent(html_1aad46d05a922dbe2cc60bf0d44fb312);
            
        

        marker_893ac6818a9e468e38750442ad23ca4a.bindPopup(popup_9a17f657878eb0b5e60b2ef8a0e7fdd5)
        ;

        
    
    
            marker_893ac6818a9e468e38750442ad23ca4a.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_62b9c404485c89f7fd3a3b595c9b473c = L.marker(
                [12.7503486, 122.7312101],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_f181a4d91e9f2f86e151632024523723 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b24347907e00c663648c02557477b87a = $(`<div id="html_b24347907e00c663648c02557477b87a" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_f181a4d91e9f2f86e151632024523723.setContent(html_b24347907e00c663648c02557477b87a);
            
        

        marker_62b9c404485c89f7fd3a3b595c9b473c.bindPopup(popup_f181a4d91e9f2f86e151632024523723)
        ;

        
    
    
            marker_62b9c404485c89f7fd3a3b595c9b473c.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_760c54617a0261bedb44a88e441fe58c = L.marker(
                [38.9597594, 34.9249653],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_e750c28981898fcc20e85267fb762fe5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_61e0f7c3ad7d440b81b3b507b42ce489 = $(`<div id="html_61e0f7c3ad7d440b81b3b507b42ce489" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_e750c28981898fcc20e85267fb762fe5.setContent(html_61e0f7c3ad7d440b81b3b507b42ce489);
            
        

        marker_760c54617a0261bedb44a88e441fe58c.bindPopup(popup_e750c28981898fcc20e85267fb762fe5)
        ;

        
    
    
            marker_760c54617a0261bedb44a88e441fe58c.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_82aaba30c35e9cdc3e433c982f28baef = L.marker(
                [19.0974031, -70.3028026],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_f08720e0a4d6ff8537997c40cd9531af = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_68a5343bb9d7c43b595c150691d7fd2a = $(`<div id="html_68a5343bb9d7c43b595c150691d7fd2a" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_f08720e0a4d6ff8537997c40cd9531af.setContent(html_68a5343bb9d7c43b595c150691d7fd2a);
            
        

        marker_82aaba30c35e9cdc3e433c982f28baef.bindPopup(popup_f08720e0a4d6ff8537997c40cd9531af)
        ;

        
    
    
            marker_82aaba30c35e9cdc3e433c982f28baef.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_35662371d97a5e6543a5d198bd9cf594 = L.marker(
                [32.6475314, 54.5643516],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_b5eb4a06019f6f5a4d169c16fd7fcdfa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0abd70e13af34991f0a0bcafcce42b7c = $(`<div id="html_0abd70e13af34991f0a0bcafcce42b7c" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_b5eb4a06019f6f5a4d169c16fd7fcdfa.setContent(html_0abd70e13af34991f0a0bcafcce42b7c);
            
        

        marker_35662371d97a5e6543a5d198bd9cf594.bindPopup(popup_b5eb4a06019f6f5a4d169c16fd7fcdfa)
        ;

        
    
    
            marker_35662371d97a5e6543a5d198bd9cf594.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_9c3ac63e39c85499681737d34d76c0be = L.marker(
                [38.9953683, 21.9877132],
                {
}
            ).addTo(map_1c3750266bb302449bd076e9912ede3e);
        
    
        var popup_3baa9f0a92e579042aaf448ad728f1bb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f2e647a98451bb3e432c5c1201d7278c = $(`<div id="html_f2e647a98451bb3e432c5c1201d7278c" style="width: 100.0%; height: 100.0%;">{'areas': 24, 'targets': 16}</div>`)[0];
                popup_3baa9f0a92e579042aaf448ad728f1bb.setContent(html_f2e647a98451bb3e432c5c1201d7278c);
            
        

        marker_9c3ac63e39c85499681737d34d76c0be.bindPopup(popup_3baa9f0a92e579042aaf448ad728f1bb)
        ;

        
    
    
            marker_9c3ac63e39c85499681737d34d76c0be.bindTooltip(
                `<div>
                     Unknown
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>